body {
    background-image: url('./bg_4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Poppins", Arial, sans-serif;
    line-height: 1.8;
    font-weight: 300;
}

.nav {
    font-size: 18px;
    font-weight: 400;
    position: relative;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 50px;
}

a {
    color: #c49b63;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 1px solid #665238;
    padding: 0.5rem 1rem;
}

a:hover {
    color: black;
    background-color: #c49b63;
    cursor: pointer;
}

a.active {
    color: black;
    background-color: #c49b63;
    cursor: pointer;
}

.justify-content-center {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

h3 {
    color: white;
    width: 133px;
    height: 49px;
}

img {
    height: 270px;
    width: 230px;
}

div .field {
    text-align: center;
}

button {
    background-color: Transparent;
    text-align: center;
    vertical-align: middle;
    padding: 6px 12px;
    color: #c49b63;
    border: 1px solid #c49b63;
    cursor: pointer;
    display: inline-flex;
}

button:hover {
    color: white;
    background-color: #c49b63;
}
